CARTApplication/Web References/SNRequest/sc_req_item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://www.service-now.com/sc_req_item" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.service-now.com/sc_req_item" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.service-now.com/sc_req_item">
      <xsd:element name="getKeys">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="active" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="activity_due" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="approval" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="approval_history" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="approval_set" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="assigned_to" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="assignment_group" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="backordered" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="billable" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="business_duration" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="calendar_duration" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="caller_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="cat_item" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="category" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="close_notes" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="closed_at" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="closed_by" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="cmdb_ci" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="comments" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="comments_and_work_notes" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="company" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="configuration_item" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="contact_type" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="context" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="correlation_display" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="correlation_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="delivery_plan" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="delivery_task" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="description" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="due_date" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="escalation" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="estimated_delivery" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="expected_start" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="follow_up" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="group_list" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="impact" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="knowledge" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="location" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="made_sla" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="number" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="opened_at" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="opened_by" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="order" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="parent" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="price" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="priority" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="quantity" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="quantity_sourced" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="reassignment_count" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="received" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="recurring_frequency" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="recurring_price" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="request" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="requested_by" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="requested_for" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sc_catalog" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="short_description" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sla_due" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sourced" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="stage" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="state" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="subcategory" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_class_name" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_created_by" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_created_on" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_domain" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_mod_count" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_updated_by" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_updated_on" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="time_worked" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_budget_code" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_business_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_comments_and_work_notes" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_delivery_stage" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_downtime_end" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_downtime_start" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_it_qa_approval_list" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_itil_watch_list" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_key_client_approval_list" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_related_incidents" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_request_type" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_requester" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_stage" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_subject_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_system_updated" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_template" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_watch_list" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="upon_approval" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="upon_reject" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="urgency" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="user_input" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="watch_list" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="work_end" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="work_notes" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="work_notes_list" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="work_start" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="__use_view" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="__encoded_query" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="__limit" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="__first_row" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="__last_row" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getKeysResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="sys_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="count" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="get">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="sys_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="__use_view" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="active" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="activity_due" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="approval" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="approval_set" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="assigned_to" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="assignment_group" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="backordered" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="billable" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="business_duration" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="calendar_duration" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="caller_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="cat_item" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="category" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="close_notes" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="closed_at" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="closed_by" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="cmdb_ci" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="comments_and_work_notes" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="company" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="configuration_item" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="contact_type" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="context" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="correlation_display" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="correlation_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="delivery_plan" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="delivery_task" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="description" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="due_date" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="escalation" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="estimated_delivery" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="expected_start" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="follow_up" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="group_list" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="impact" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="knowledge" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="location" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="made_sla" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="number" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="opened_at" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="opened_by" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="order" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="parent" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="price" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="priority" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="quantity" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="quantity_sourced" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="reassignment_count" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="received" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="recurring_frequency" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="recurring_price" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="request" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="requested_by" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="requested_for" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sc_catalog" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="short_description" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sla_due" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sourced" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="stage" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="state" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="subcategory" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_class_name" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_created_by" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_created_on" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_domain" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_mod_count" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_updated_by" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_updated_on" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="time_worked" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_budget_code" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_business_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_comments_and_work_notes" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_delivery_stage" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_downtime_end" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_downtime_start" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_it_qa_approval_list" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_itil_watch_list" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_key_client_approval_list" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_related_incidents" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_request_type" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_requester" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_stage" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_subject_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_system_updated" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_template" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_watch_list" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="upon_approval" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="upon_reject" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="urgency" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="user_input" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="watch_list" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="work_end" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="work_notes_list" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="work_start" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getRecords">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="active" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="activity_due" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="approval" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="approval_history" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="approval_set" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="assigned_to" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="assignment_group" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="backordered" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="billable" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="business_duration" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="calendar_duration" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="caller_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="cat_item" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="category" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="close_notes" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="closed_at" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="closed_by" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="cmdb_ci" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="comments" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="comments_and_work_notes" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="company" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="configuration_item" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="contact_type" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="context" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="correlation_display" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="correlation_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="delivery_plan" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="delivery_task" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="description" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="due_date" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="escalation" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="estimated_delivery" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="expected_start" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="follow_up" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="group_list" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="impact" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="knowledge" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="location" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="made_sla" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="number" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="opened_at" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="opened_by" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="order" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="parent" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="price" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="priority" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="quantity" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="quantity_sourced" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="reassignment_count" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="received" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="recurring_frequency" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="recurring_price" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="request" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="requested_by" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="requested_for" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sc_catalog" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="short_description" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sla_due" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sourced" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="stage" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="state" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="subcategory" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_class_name" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_created_by" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_created_on" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_domain" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_mod_count" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_updated_by" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_updated_on" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="time_worked" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_budget_code" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_business_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_comments_and_work_notes" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_delivery_stage" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_downtime_end" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_downtime_start" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_it_qa_approval_list" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_itil_watch_list" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_key_client_approval_list" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_related_incidents" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_request_type" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_requester" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_stage" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_subject_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_system_updated" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_template" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_watch_list" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="upon_approval" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="upon_reject" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="urgency" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="user_input" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="watch_list" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="work_end" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="work_notes" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="work_notes_list" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="work_start" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="__use_view" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="__encoded_query" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="__limit" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="__first_row" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="__last_row" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="__order_by" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="__order_by_desc" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="__exclude_columns" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getRecordsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="getRecordsResult">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="1" name="active" type="xsd:boolean" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="activity_due" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="approval" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="approval_set" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="assigned_to" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="assignment_group" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="backordered" type="xsd:boolean" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="billable" type="xsd:boolean" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="business_duration" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="calendar_duration" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="caller_id" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="cat_item" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="category" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="close_notes" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="closed_at" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="closed_by" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="cmdb_ci" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="comments_and_work_notes" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="company" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="configuration_item" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="contact_type" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="context" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="correlation_display" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="correlation_id" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="delivery_plan" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="delivery_task" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="description" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="due_date" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="escalation" type="xsd:integer" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="estimated_delivery" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="expected_start" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="follow_up" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="group_list" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="impact" type="xsd:integer" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="knowledge" type="xsd:boolean" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="location" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="made_sla" type="xsd:boolean" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="number" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="opened_at" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="opened_by" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="order" type="xsd:integer" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="parent" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="price" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="priority" type="xsd:integer" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="quantity" type="xsd:integer" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="quantity_sourced" type="xsd:integer" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="reassignment_count" type="xsd:integer" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="received" type="xsd:boolean" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="recurring_frequency" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="recurring_price" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="request" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="requested_by" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="requested_for" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="sc_catalog" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="short_description" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="sla_due" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="sourced" type="xsd:boolean" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="stage" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="state" type="xsd:integer" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="subcategory" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="sys_class_name" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="sys_created_by" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="sys_created_on" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="sys_domain" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="sys_id" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="sys_mod_count" type="xsd:integer" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="sys_updated_by" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="sys_updated_on" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="time_worked" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="u_budget_code" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="u_business_service" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="u_comments_and_work_notes" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="u_delivery_stage" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="u_downtime_end" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="u_downtime_start" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="u_it_qa_approval_list" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="u_itil_watch_list" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="u_key_client_approval_list" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="u_related_incidents" type="xsd:integer" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="u_request_type" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="u_requester" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="u_stage" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="u_subject_id" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="u_system_updated" type="xsd:boolean" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="u_template" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="u_watch_list" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="upon_approval" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="upon_reject" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="urgency" type="xsd:integer" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="user_input" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="watch_list" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="work_end" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="work_notes_list" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="work_start" type="xsd:string" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="active" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="activity_due" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="approval" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="approval_history" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="approval_set" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="assigned_to" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="assignment_group" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="backordered" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="billable" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="business_duration" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="calendar_duration" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="caller_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="cat_item" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="category" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="close_notes" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="closed_at" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="closed_by" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="cmdb_ci" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="comments" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="comments_and_work_notes" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="company" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="configuration_item" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="contact_type" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="context" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="correlation_display" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="correlation_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="delivery_plan" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="delivery_task" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="description" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="due_date" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="escalation" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="estimated_delivery" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="expected_start" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="follow_up" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="group_list" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="impact" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="knowledge" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="location" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="made_sla" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="number" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="opened_at" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="opened_by" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="order" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="parent" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="price" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="priority" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="quantity" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="quantity_sourced" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="reassignment_count" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="received" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="recurring_frequency" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="recurring_price" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="request" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="requested_by" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="requested_for" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sc_catalog" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="short_description" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sla_due" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sourced" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="stage" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="state" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="subcategory" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="sys_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="time_worked" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_budget_code" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_business_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_comments_and_work_notes" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_delivery_stage" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_downtime_end" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_downtime_start" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_it_qa_approval_list" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_itil_watch_list" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_key_client_approval_list" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_related_incidents" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_request_type" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_requester" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_stage" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_subject_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_system_updated" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_template" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_watch_list" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="upon_approval" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="upon_reject" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="urgency" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="user_input" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="watch_list" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="work_end" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="work_notes" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="work_notes_list" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="work_start" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_id" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="insert">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="active" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="activity_due" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="approval" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="approval_history" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="approval_set" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="assigned_to" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="assignment_group" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="backordered" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="billable" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="business_duration" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="calendar_duration" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="caller_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="cat_item" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="category" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="close_notes" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="closed_at" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="closed_by" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="cmdb_ci" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="comments" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="comments_and_work_notes" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="company" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="configuration_item" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="contact_type" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="context" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="correlation_display" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="correlation_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="delivery_plan" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="delivery_task" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="description" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="due_date" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="escalation" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="estimated_delivery" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="expected_start" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="follow_up" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="group_list" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="impact" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="knowledge" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="location" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="made_sla" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="number" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="opened_at" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="opened_by" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="order" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="parent" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="price" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="priority" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="quantity" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="quantity_sourced" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="reassignment_count" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="received" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="recurring_frequency" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="recurring_price" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="request" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="requested_by" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="requested_for" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sc_catalog" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="short_description" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sla_due" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sourced" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="stage" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="state" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="subcategory" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="time_worked" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_budget_code" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_business_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_comments_and_work_notes" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_delivery_stage" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_downtime_end" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_downtime_start" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_it_qa_approval_list" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_itil_watch_list" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_key_client_approval_list" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_related_incidents" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_request_type" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_requester" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_stage" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_subject_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_system_updated" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_template" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_watch_list" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="upon_approval" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="upon_reject" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="urgency" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="user_input" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="watch_list" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="work_end" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="work_notes" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="work_notes_list" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="work_start" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="insertResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="number" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="active" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="activity_due" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="approval" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="approval_history" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="approval_set" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="assigned_to" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="assignment_group" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="backordered" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="billable" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="business_duration" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="calendar_duration" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="caller_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="cat_item" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="category" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="close_notes" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="closed_at" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="closed_by" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="cmdb_ci" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="comments" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="comments_and_work_notes" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="company" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="configuration_item" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="contact_type" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="context" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="correlation_display" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="correlation_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="delivery_plan" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="delivery_task" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="description" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="due_date" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="escalation" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="estimated_delivery" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="expected_start" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="follow_up" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="group_list" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="impact" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="knowledge" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="location" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="made_sla" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="number" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="opened_at" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="opened_by" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="order" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="parent" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="price" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="priority" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="quantity" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="quantity_sourced" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="reassignment_count" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="received" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="recurring_frequency" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="recurring_price" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="request" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="requested_by" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="requested_for" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sc_catalog" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="short_description" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sla_due" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sourced" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="stage" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="state" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="subcategory" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_class_name" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_created_by" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_created_on" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_domain" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_mod_count" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_updated_by" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_updated_on" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="time_worked" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_budget_code" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_business_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_comments_and_work_notes" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_delivery_stage" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_downtime_end" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_downtime_start" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_it_qa_approval_list" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_itil_watch_list" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_key_client_approval_list" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_related_incidents" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_request_type" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_requester" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_stage" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_subject_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_system_updated" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_template" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_watch_list" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="upon_approval" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="upon_reject" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="urgency" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="user_input" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="watch_list" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="work_end" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="work_notes" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="work_notes_list" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="work_start" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteMultipleResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="count" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteRecord">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="sys_id" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteRecordResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="count" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="updateSoapOut">
    <wsdl:part name="sc_req_item" element="tns:updateResponse" />
  </wsdl:message>
  <wsdl:message name="getKeysSoapIn">
    <wsdl:part name="sc_req_item" element="tns:getKeys" />
  </wsdl:message>
  <wsdl:message name="getKeysSoapOut">
    <wsdl:part name="sc_req_item" element="tns:getKeysResponse" />
  </wsdl:message>
  <wsdl:message name="insertSoapIn">
    <wsdl:part name="sc_req_item" element="tns:insert" />
  </wsdl:message>
  <wsdl:message name="deleteMultipleSoapOut">
    <wsdl:part name="sc_req_item" element="tns:deleteMultipleResponse" />
  </wsdl:message>
  <wsdl:message name="getSoapOut">
    <wsdl:part name="sc_req_item" element="tns:getResponse" />
  </wsdl:message>
  <wsdl:message name="getSoapIn">
    <wsdl:part name="sc_req_item" element="tns:get" />
  </wsdl:message>
  <wsdl:message name="getRecordsSoapIn">
    <wsdl:part name="sc_req_item" element="tns:getRecords" />
  </wsdl:message>
  <wsdl:message name="deleteRecordSoapIn">
    <wsdl:part name="sc_req_item" element="tns:deleteRecord" />
  </wsdl:message>
  <wsdl:message name="updateSoapIn">
    <wsdl:part name="sc_req_item" element="tns:update" />
  </wsdl:message>
  <wsdl:message name="getRecordsSoapOut">
    <wsdl:part name="sc_req_item" element="tns:getRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="deleteMultipleSoapIn">
    <wsdl:part name="sc_req_item" element="tns:deleteMultiple" />
  </wsdl:message>
  <wsdl:message name="insertSoapOut">
    <wsdl:part name="sc_req_item" element="tns:insertResponse" />
  </wsdl:message>
  <wsdl:message name="deleteRecordSoapOut">
    <wsdl:part name="sc_req_item" element="tns:deleteRecordResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceNowSoap">
    <wsdl:operation name="insert">
      <wsdl:input message="tns:insertSoapIn" />
      <wsdl:output message="tns:insertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input message="tns:updateSoapIn" />
      <wsdl:output message="tns:updateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteMultiple">
      <wsdl:input message="tns:deleteMultipleSoapIn" />
      <wsdl:output message="tns:deleteMultipleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getKeys">
      <wsdl:input message="tns:getKeysSoapIn" />
      <wsdl:output message="tns:getKeysSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteRecord">
      <wsdl:input message="tns:deleteRecordSoapIn" />
      <wsdl:output message="tns:deleteRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get">
      <wsdl:input message="tns:getSoapIn" />
      <wsdl:output message="tns:getSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getRecords">
      <wsdl:input message="tns:getRecordsSoapIn" />
      <wsdl:output message="tns:getRecordsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceNowSoap" type="tns:ServiceNowSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insert">
      <soap:operation soapAction="http://www.service-now.com/sc_req_item/insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction="http://www.service-now.com/sc_req_item/update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteMultiple">
      <soap:operation soapAction="http://www.service-now.com/sc_req_item/deleteMultiple" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getKeys">
      <soap:operation soapAction="http://www.service-now.com/sc_req_item/getKeys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteRecord">
      <soap:operation soapAction="http://www.service-now.com/sc_req_item/deleteRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get">
      <soap:operation soapAction="http://www.service-now.com/sc_req_item/get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRecords">
      <soap:operation soapAction="http://www.service-now.com/sc_req_item/getRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceNow_sc_req_item">
    <wsdl:port name="ServiceNowSoap" binding="tns:ServiceNowSoap">
      <soap:address location="https://vmntest.service-now.com/sc_req_item.do?SOAP" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>